/* guard against IE8 problems */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 768px;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1rem;
    background: #fff;
    color: #555459;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#spin-button{
	background-color: #D81159;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24px;
    margin: auto;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    width: 100px;
    height: 80px;
    left: 50px;
    border-radius: 6px;

}
#user-compatibility-info{
    font-family: Slack-Lato,appleLogo,sans-serif;
}

#user-compatibility-info{
	font-size: 14px;
	padding: 5px;
	display: block;
}

#profile-pic{
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 180px;
	height: 180px;
}

#chattie-user-name{
	display: block;
	text-align: center;
	font-size: 24px;
	padding: 2px 0px 2px 0px;
	margin-right: 10px;
}

#chattie-user-name:hover{
	background-color: #D81159;
    display: block;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-clip: padding-box;
    text-decoration: none!important;
}

#info-bar {
	color: #fff;
	background: #0496FF;
	width: 200px;
	height: 100%;
	position: absolute;
	padding: 10px 0px 10px 0px;
	left: 0px;
	top: 0px;
}

#info-bar ul {
	list-style-type: none;
	margin: auto;
	padding-left: 0px;
}

#info-bar li{
	text-align: center;
	font-size: 20px;
	padding: 2px 0px 2px 0px;
}

li {
	margin-left: 0px;
}

#message-container{
	margin-left: 220px;
}

#msg_scroller_div{
    overflow-y: scroll;
    border-right: .25rem solid transparent;
}

/*
Footer Stuff
*/
#footer{
	position: fixed;
	bottom: 0px;
	right: 0px;
	height: 100px;
	left: 0px;
	display: block;
}

#message-form{
	position: absolute;
	left: 220px;
	right: 20px;
	bottom: 20px;
	top: 0px;
	display: block;
}

/*#message-input-container{
	position: absolute;
	width: 100%;
}*/

/*#message-input{
	overflow-y: hidden;
	height: 100%;
	width: 100%;
	margin:0px 20px 0px 20px;
	left: 0px;
	background: #fff;
    border: 2px solid #E0E0E0;
    background-clip: padding-box;
    font-family: sans-serif;
    color: #3d3c40;
    box-shadow: none;
    outline: 0;
    position: relative;
    bottom: 0;
    min-height: 2rem;
    padding-top: .5625rem;
    padding-bottom: .5625rem;
    padding-left: .5rem;
    padding-right: .5rem;
    max-height: 10rem;
    resize: none;
    border-radius: 6px;
    display: block;

}*/

#message-input{
background: #fff;
    width: 100%;
    font-size: .9375rem;
    line-height: 1.2rem;
    border: 2px solid #E0E0E0;
    background-clip: padding-box;
    font-family: Slack-Lato,appleLogo,sans-serif;
    margin: 0;
    color: #3d3c40;
    -webkit-appearance: none;
    box-shadow: none;
    outline: 0;
    position: absolute;
    bottom: 0;
    height: 100%;
    min-height: 2.625rem!important;
    padding-top: .5625rem;
    padding-bottom: .5625rem;
    padding-left: .5rem;
    padding-right: 2.5rem;
    max-height: 10rem!important;
    resize: none!important;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 6px;
    box-sizing: border-box;
}

/*#textarea {
    font-size: 1rem;
    line-height: 1.25rem;
    height: 108px;
    padding: .75rem .5rem .75rem .75rem;
    vertical-align: top;
    tab-size: 4;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    -webkit-tab-size: 4;
    position: absolute;
    display: block;
}*/